<mat-toolbar color="primary">
  <div class="full-tab">
    <mat-tab-group backgroundColor="primary">
      <mat-tab [label]="terms.data">
        <mat-form-field class="ip-width">
            <input #ip matInput placeholder="IP" [formControl]="ipControl">
            <mat-error *ngIf="ipControl.hasError('pattern')">
              {{terms.ip_format}}
            </mat-error>
        </mat-form-field>
        <span class="span-width"> : </span>
        <mat-form-field class="port-width">
            <input #port matInput placeholder="port" [formControl]="numberControl">
            <mat-error *ngIf="numberControl.hasError('pattern')">
              {{terms.number_format}}
            </mat-error>
        </mat-form-field>
      </mat-tab>
      <mat-tab [label]="terms.control">
        <div class="row-button">
          <button mat-raised-button (click)="osc.startSending(ip.value, port.value, acc, ori)">{{terms.start}}</button>
          <button mat-raised-button color="warn" (click)="osc.stopSending()">{{terms.stop}}</button>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</mat-toolbar>

<div class="container">
  <div *ngIf="acc.available">
    <mat-list class="full-width">
       <h3 mat-subheader>{{terms.acc}}</h3>
       <mat-list-item>AccX: {{acc.accx | round: 4}}</mat-list-item>
       <mat-list-item>AccY: {{acc.accy | round: 4}}</mat-list-item>
       <mat-list-item>AccZ: {{acc.accz | round: 4}}</mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="ori.available">
    <mat-list class="full-width">
       <h3 mat-subheader>{{terms.ori}}</h3>
       <mat-list-item>Alpha: {{ori.alpha | round: 4}}</mat-list-item>
       <mat-list-item>Beta: {{ori.beta | round: 4}}</mat-list-item>
       <mat-list-item>Gamma: {{ori.gamma | round: 4}}</mat-list-item>
    </mat-list>
    <mat-divider></mat-divider>
  </div>
  <div *ngIf="noSensors">
    <mat-card>{{terms.no_sensor_message}}</mat-card>
  </div>
  <br>
</div>
