.container{
  margin:10px auto;
  width:90%;
}
.full-width{
  width:100%;
}
.half-width{
  width:50%;
}
.ip-width{
  width:67%;
}
.port-width{
  width:30%;
}
.span-width{
  display:inline-block;
  width:3%;
  text-align:center;
  font-weight: bold;
}
mat-toolbar{
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  z-index: 1000;
  font: inherit;
  padding:0 0 5px 0;
  height:auto;
}
.row-button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  padding:14px 0 15px 0;
}
.full-tab {
  width: 90%;
  margin:0 5%;
}
